anaconda-anon-usage
archspec
beautifulsoup4==4.12.3
blinker==1.9.0
boltons
Brotli
cachetools==5.5.0
certifi
cffi
charset-normalizer
click==8.1.7
colorama
conda
conda-content-trust
conda-libmamba-solver
conda-package-handling
conda_package_streaming
cryptography
distro
Flask==3.1.0
google==3.0.0
google-auth==2.36.0
google-auth-oauthlib==1.2.1
greenlet==3.1.1
gspread==6.1.4
gunicorn==23.0.0
httplib2==0.22.0
idna
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
jmespath==1.0.1
jsonpatch
jsonpointer==2.1
libmambapy
MarkupSafe==3.0.2
menuinst
oauth2client==4.1.3
oauthlib==3.2.2
packaging
platformdirs
playwright==1.49.0
pluggy==1.5.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycosat
pycparser
pyee==12.0.0
pyparsing==3.2.0
PySocks
pytest==8.3.4
pytest-base-url==2.1.0
pytest-playwright==0.6.2
python-dotenv==1.0.1
python-slugify==8.0.4
requests
requests-oauthlib==2.0.0
rsa==4.9
ruamel.yaml
setuptools==69.5.1
six==1.17.0
soupsieve==2.6
text-unidecode==1.3
tqdm
truststore
typing_extensions==4.12.2
urllib3
Werkzeug==3.1.3
wheel==0.43.0
win-inet-pton
zstandard
